:root {
  --color-web-blue: #2196f3;
}
ul * {
  list-style: none;
}
.hero {
  background-color: #2f303a;
}
.link-web:hover {
  color: var(--color-web-blue);
}
.link-contact:hover {
  color: var(--color-web-blue);
}
.order {
  background-color: var(--color-web-blue);
}
